@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li{
    font-family: 'Oswald', sans-serif;
    display: inline;
    padding: 5px;
}